[2021-03-27 14:10] dinkydani opened #1 "Implement a history page that shows previous unsubscribes"

[2021-03-27 14:11] dinkydani opened #2 "Bulk unsubscribe from everything - "nuke" button"

[2021-03-27 14:14] dinkydani opened #3 "Add a plan with more than 10 Rollups"

[2021-03-27 14:15] dinkydani opened #4 "Add a trial for Rollups (a way to test/preview the email)"

[2021-03-27 14:18] Jivings opened #5 "Give users a unique email address that they can forward subscriptions to in order to add to their Rollup or unsubscribe"
Multiple users have asked for a way to create a Rollup and unsubscribe without giving us their email provider password. This would allow for a more privacy friendly mechanism for those who want it.

[2021-03-28 02:04] Jivings opened #6 "Improvements to the mail list"
We want to make various improvements to the mail list to make it easier to use. This includes;

- [x] Search functionality
- [x] Improved filtering
- [x] Spitting the mail up into filtered views
  - New
  - Unsubscribed
  - Favorited
  - Rolled up
  - All Mail

[2021-03-28 02:05] Jivings opened #7 "Inbox Shield"

[2021-03-28 02:06] Jivings commented on #1
I think we can roll this into the changed to the mail list, where we'll see a "Unsubscribed" mail view.

[2021-03-28 06:26] Jivings opened #8 "Ignore specific domains from being scanned"
Maybe we could add this as a dropdown to the favorites button. Eg;

- Ignore emails from notifications@facebook.com
- Ignore all emails from facebook.com

[2021-03-30 04:41] #4 closed

[2021-03-31 13:49] dinkydani opened #9 "Show when an email in an issue has been read"
In the issue show when an email been viewed/read. We could fade the background color and add a tag/info icon.
Perhaps also add some additional text to show is still remaining etc

[2021-03-31 13:49] dinkydani opened #10 "Add a list/minimal view option for the issue"

[2021-03-31 14:09] Jivings opened #11 "Add option to disable tracker blocking"

[2021-04-02 05:41] dinkydani opened #12 "Move all previously unsubscribed mailing lists to a folder (settings button)"

[2021-04-02 12:25] Jivings opened #13 "Mark mail as read when we move it"
Add option to mark mail as read when it's rolled-up or blocked

[2021-04-03 10:09] dinkydani opened #14 "Allow customer to choose which connected email address to send the Rollups to"

[2021-04-05 10:15] #12 closed, assigned to dinkydani

[2021-04-06 03:32] dinkydani opened #15 "Allow customer to add any sender to a Rollup"
If emails aren't showing in the LMA Mail List then we could add another way to manually add senders we can watch for

[2021-04-08 02:16] Jivings opened #16 "Send security emails when a user performs some actions."
In the interest of security we should probably send an email when some actions are performed;

- Adding a new email account, we should send an email to this new account
- Account password changed, we should send an email to the primary account email

[2021-04-15 07:24] dinkydani opened #17 "Daily Rollups"

[2021-04-30 02:44] #17 closed, assigned to nobody

[2021-05-03 10:11] #15 closed, assigned to nobody

[2021-05-28 02:48] #6 closed

[2021-06-30 09:41] Jivings opened #18 "Add a "reduced-motion" option to disable animations."

[2021-06-30 09:42] Jivings opened #19 "Keyboard shortcuts"

[2021-06-30 09:42] Jivings opened #20 "Architecture improvements to the Rollups watcher"
Sometimes we're missing emails, so we need to improve our Rollup queue to be more async and handle the larger number of accounts we are getting.

[2021-06-30 09:45] Jivings opened #21 "Create a new Rollup template that shows all the Rollup emails within the email we send"

[2021-07-14 11:03] dinkydani opened #22 "Make it easier to remove a sender from a Rollup by adding options in the issue view, issue mail view, and reader"

[2021-08-12 12:13] #18 closed, assigned to nobody

[2021-08-12 12:14] #22 closed, assigned to dinkydani

[2021-08-12 12:14] #20 closed, assigned to Jivings

[2021-09-15 10:01] #10 closed, assigned to nobody

[2021-09-15 10:05] dinkydani opened #23 "Improve the Rollups senders list with a "move" to another Rollup option and better UX for the "remove" option"
- [x] Add a "move" option to remove from this/add to another Rollup
- [x] Allow bulk removing/moving with checkboxes in the UI

[2021-09-15 10:09] dinkydani opened #24 "Add bulk actions to mail list views"
Customer requested a way to bulk add multiple senders to the same Rollup as the current UX is cumbersome for this with more than one Rollup config.

[2021-09-16 09:22] #13 closed, assigned to dinkydani

[2021-09-16 10:27] #21 closed, assigned to nobody

[2021-09-16 10:27] #7 closed

[2021-09-24 08:15] dinkydani opened #25 "Add option to unsubscribe from a sender in a Rollup"
Currently this is a 2-step process customers have to remove from Rollup and find in the mail list and unsubscribe.

[2021-10-04 15:41] #14 closed, assigned to dinkydani

[2021-12-06 03:29] Jivings opened #26 "Migrate to new datacenter"
Should I snapshot everything and migrate, or spin up new instances of everything...

Snapshot will lead to downtime 👎

[2021-12-06 03:30] Jivings opened #27 "Fix Rollups database limitations"
When a single rollup gets too big (over 16MB) then it essentially stops rolling up new emails. This can easily happen in a 100+ sender Rollup that's sent weekly for example.

This is a limitation of how I structured the data. It needs fixing ASAP as some users are starting to hit this limitation.

[2021-12-06 03:31] Jivings opened #28 "Focus Schedules"

[2021-12-06 03:32] Jivings opened #29 "Priority Senders"

[2021-12-06 03:33] Jivings opened #30 "Inbox Shield "block everything feature""
The idea here is that some inboxes are so overloaded that a customer needs to **block everything**.

- If they enable this then we will block everything that's not previously allowed, or added to their priority sender list.
- We then send a Rollup or summary of the blocked emails on a schedule.
- Optionally we could allow senders that the user has previously emailed/replied to.

We haven't thought

[2021-12-06 03:35] Jivings opened #31 "Blocklist Rollups"
We need the ability to add blocked emails to a Rollup or summary email.

Perhaps we only need a summary of blocked emails like "We blocked 50 emails this week".

Or perhaps we want to let users read them in LMA, in which case it's just like a normal Rollup.

Questions:

- If a Rollup, does this count towards the users' Rollups quota?
- Do we let users choose either a Rollup or a summary?

[2021-12-06 03:40] Jivings opened #32 "Landing page for Shield"

[2021-12-06 07:01] dinkydani opened #33 "Preference to scan Trash + Spam folders"
- [x] move the OAuth scanning to the scanner
- [x] add CMS pref to scan trash/spam + maybe other folders
- [x] use pref in the scanner

[2022-01-04 05:09] #29 closed, assigned to nobody

[2022-01-04 05:09] #27 closed, assigned to Jivings

[2022-01-20 08:55] #28 closed, assigned to nobody

[2022-02-11 07:00] #25 closed, assigned to nobody

[2022-02-19 06:18] Jivings opened #34 ""Move old rolled up emails to folder" button."
Customers who want to get to inbox zero need to move emails that the rollup to a folder in the same way that the unsubscriber does.

[2022-02-19 06:25] Jivings opened #35 "Search page."
Need to be able to search for mail in the inbox.

[2022-02-19 06:35] Jivings opened #36 "Import contacts"
Need a way to import contacts to;

- priority senders
- screener allow list

[2022-03-21 06:05] #30 closed, assigned to nobody

[2022-03-21 06:05] #31 closed, assigned to nobody

[2022-03-21 06:06] dinkydani opened #37 "Button to preview a mail item in the mail list"

[2022-04-01 03:08] dinkydani opened #38 "Add "delivery slots" to do-not-disturb mode so that mail can be held and released multiple times per day"
Customer request:

"I noticed that with the custom schedule I can pick a set of day/time options to hold, but what I really wanted was the ability to set a few times each day when mail can be "released" and between those times, DND is holding those emails."

[2022-04-01 03:09] #32 closed, assigned to nobody

[2022-04-01 03:09] #37 closed, assigned to nobody

[2022-04-01 03:09] #36 closed, assigned to nobody

[2022-04-01 03:20] dinkydani opened #39 "Import contacts/senders list into a blocklist"

[2022-04-21 09:56] momorgan opened #40 "Use text terms (rather than just senders) to specify priority"
Priority Senders works flawlessly. But sometimes a whitelistable email is better identified by search terms such as keywords in the subject line, rather than a specific sender.

Use case:
Let's say I was buying a flat. Lots of different senders are likely to message me—my lawyer, seller's lawyer, estate agent, surveyor, freeholder, electrician, removals, insurer, so on and so on. All of whom are e

[2022-04-21 10:06] Jivings commented on #40
You're right 100%, this needs doing.

We've also had multiple requests for us to let through things like verification emails and I think this is also how we will solve that problem.

We'll provide a few default terms for verification emails and such, and also allow you to add your own custom ones. This will require us to create a slightly more complex filtering system on our end, so is not a quick

[2022-04-21 10:06] momorgan opened #41 "Option to whitelist or rollup replies to emails in sent folder"
Replies to emails I've sent are a different use-case from 'new' emails. It'd be great to be able to separate the handling of these.

With new emails it makes sense to block/screen all, apart from those whitelisted. With replies, it'd be good to have the option either to whitelist those I've sent emails to, perhaps by automatically building a 'sent whitelist' from sweeping the sent folder.

Use cas

[2022-04-21 10:13] Jivings commented on #41
There's actually an option for this already, I think it should be enabled by default but in your case perhaps it was disabled.

<img width="583" alt="image" src="https://user-images.githubusercontent.com/1462828/164433284-d5e9cfca-7f33-4e2e-a7c6-73adfca0c452.png">

Does that solve this problem?

[2022-04-21 10:14] momorgan commented on #40
Yep, I'd forgotten about verification emails. I've experienced that: very valid case.

Kinda the opposite is true too: I'd *always* want to roll up, say, "see what you missed" from LinkedIn but perhaps keep everything that comes from messages-noreply@linkedin.com

[2022-04-21 10:18] momorgan commented on #41
Oh! Hmm. That's interesting, because I don't think that is working in my case—the option is selected but I'm _fairly_ sure replies are being screened. I'll investigate more and find a specific example.

[2022-04-21 10:30] Jivings commented on #40
Yeah so if we imagine that the system works like this: `filter => action`

Currently `filter` is always just a email address or domain, and `action` is always rollup, block or allow.
We could adapt it so that filter could be specified by you to either be email/domain or a complex filter where you can specify matching text in the subject or body of the email.

I think that solves 99% of use cases.

[2022-04-21 19:45] momorgan opened #42 "Progressive web app"
LMA works really well responsively. It's one small step away from being a lovely webapp: one that users could add to their (mobile) homescreen and stick the icon next to their mail client. Useful while onboarding, but also reducing friction when that critical email comes though from an unknown source. Currently it's kinda fugly.

[2022-04-22 07:41] Jivings commented on #23
As a first pass lets put a "move" button here that opens the Rollup dropdown

<img width="1019" alt="image" src="https://user-images.githubusercontent.com/1462828/164633682-c89776d1-670e-46b2-b648-50c47ed92b96.png">

[2022-04-22 08:16] Jivings commented on #42
This is now available (in it's most basic form).

You should now be able to install from your mobile browser when the app is logged in 👍

In future we can think about adding notifications for new screened mail or other events.

Thanks for the push to do this @momorgan!

[2022-04-22 08:17] Jivings commented on #41
Let me know if you find anything, I'll close this ticket for now ✨

[2022-04-23 10:18] vertis commented on #40
This makes a lot of sense to me. Having a subject filter allows advertising it briefly, say on a job ad, and then retracting it later.

I think complex filters could be a very nice feature, and I'm sure people can find interesting ways of applying them.

[2022-04-23 10:18] momorgan commented on #42
Oh this is _much_ better. The icon (on iOS) perhaps needs a dusting down as the background colour is black (as opposed to the light yellow as per Android), but yes. Great!

[2022-04-23 10:18] #42 closed, assigned to nobody

[2022-04-23 10:27] momorgan opened #43 "Show mail that has been unsubscribed from by the Screener in the Subscriptions view"
I know this is a bit of a stinker, but still. Where the subscription thing doesn't detect that an email is from a mailing list, and screener is set to block, it turns up caught by the screener. Which is expected behaviour.

But, from there, it's perhaps fiddlier than necessary to manage them. If you block them in the screener, they languish in the 'screened' imap folder. It'd be interesting perhap

[2022-04-23 10:31] momorgan opened #44 "Email 'preview' improvements"
Every time I've clicked to preview an email, I've never actually gotten to preview the email, I just see "We couldn't find any mail from that sender in your mailbox in the last 6 months."

So am I misunderstanding what this functionality should do? My expectation would be it would show me the body of the screened email, at least in part.

[2022-04-23 10:41] momorgan opened #45 "Threshold for account connected/disconnected messages?"
The new 'mail history' thing is brilliant, and answers a lot of my stupid questions. But I'm getting a _lot_ of account connected/disconnected messages listed; more than is useful.

![Screenshot 2022-04-23 at 11 31 58](https://user-images.githubusercontent.com/223823/164891069-02a67982-e1a4-4782-9bdd-0efaf15624cb.jpg)

That's TMI. I can't decide whether this is a functional or presentational thing

[2022-04-23 10:41] momorgan commented on #45
or both lol

[2022-04-23 10:47] momorgan opened #46 "Do-not-disturb overnight schedule"
Right now it's impossible to set DND to, say, 7pm to 7am, because the scheduler says "Start time must be before end time".

Two ways to solve it: either always assume the second time is after the first. Or allow multiple schedules, which I think is already in the works, but the first is more elegant from the perspective of user expectation. Setting up two, back-to-back schedules (one for 7pm to mi

[2022-04-23 10:51] momorgan commented on #40
Oh yes, superpowered filters would be amazing, particularly for non-gmail users whose host-supplied filters are a bit... agricultural. Some basic operators, at least, would be a much better way to sort incoming mail - not only into rollups etc but also folders. I feel like I'm feature-creeping though...

[2022-04-23 12:31] Jivings commented on #40
Haha yes, I think a dedicated "Filters" page will be the final state of this, but for now I'm going to add custom filters to the Priority Senders feature as I think that will cover most problems with the screener that people are having right now.

[2022-04-23 12:32] Jivings commented on #42
I don't have an iPhone, can you screenshot it for me? Not sure why it would appear black.

[2022-04-23 12:36] Jivings commented on #46
You're right, @dinkydani is working on multiple schedules. It's probably a few weeks away though as we're smashing through a backlog of customer requests.

I think as part of this we'll change the "Weekends" preset to be "Evenings and Weekends", which will consist of multiple schedules. This gives the user a nice example of how the schedules can be set up.

[2022-04-23 12:40] Jivings commented on #45
I'd like to leave this for now because it points to there being an actual problem with your account that we should fix.

For example I have no idea why you would have "Account connected" repeatedly without any "Account disconnected" events - in theory that shouldn't happen.

[2022-04-23 12:40] momorgan commented on #42
I know right? Who even has an iPhone anymore ;)

But yeah, here you go:

![IMG_0081](https://user-images.githubusercontent.com/223823/164894891-1ed2dfb2-3430-4a8d-9177-ecf802550790.PNG)

[2022-04-23 12:43] momorgan commented on #45
Ohhh okay, sure. Yet another good example of the mail history doing its thing :)

[2022-04-23 12:47] momorgan commented on #46
Yep, fair enough. By all means prioritise however you feel is most appropriate. Damn customers and their damn requests ;)

[2022-04-23 12:50] Jivings commented on #44
We're getting multiple reports of this but I can't recreate it on any of my accounts.

What type of account is it? (gmail, outlook etc?). The only thing I can think of is that maybe we're not searching the correct folders, or the type of search I'm using isn't support by the mail client.

[2022-04-23 12:55] Jivings commented on #43
If there's a List-Unsubscribe in the header then they should nearly always be caught in the Subscriptions list.

Unless you have a mail client that doesn't allow searching on that header. For example, we can't search Yahoo mailboxes for emails with the List-Unsubscribe header as they don't support that.

However, if we see emails that in the screener with unsubscribe info and you click block on th

[2022-04-23 12:56] momorgan commented on #44
Ooh interesting. I've just checked and I'm getting the same results across three accounts - one at gmail, one at zoho and one at runbox.

[2022-04-23 13:00] Jivings commented on #44
Can you run a search for the same email address in Gmail and see what gets returned? If you could let me know what labels it has for example that would be super useful.

[2022-04-23 13:06] momorgan commented on #43
Interesting.

Okay so in one case what I think I have is an email added to a rollup, so as I understand it should have moved from 'screened' to '_lma-rollups' (or perhaps not end up in 'screened' at all?) but it's in 'screened'.

So this one's not listed in unsubscribes, obvs, but it went to screened mail instead. Meanwhile mail history says 'Sender blocked by Screener setting set to block all inc

[2022-04-23 13:16] momorgan commented on #44
Okay so I got a really interesting outcome.

I've had the same email basically twice (which as it turns out is kinda fortunate), the from address is in a rollup. One is in _lma-rollups, the other in _lma-rollups/screened

Back in the interface:

![Screenshot 2022-04-23 at 14 10 50](https://user-images.githubusercontent.com/223823/164896083-db8fe340-8cb1-4a58-98c0-8b31a734f51d.jpg)

Both listed the

[2022-04-23 13:50] Jivings commented on #43
Hm, yeah the Rollup check happens first, so if a sender is in a Rollup then it shouldn't ever be blocked by the Screener.

Can you check the sender info and make sure that's the one that should be rolled? Or you can share the info with me and I can check it.

[2022-04-23 13:51] Jivings commented on #42
No idea why that happens 😅 if I get a chance then I'll check it out.

Hope you're enjoying the snooker!

[2022-04-23 14:09] Jivings commented on #44
Okay I think I've cracked it.

For non-gmail accounts we were accidentally only searching the first folder (whatever that might be). It should search all the folders now.

There's a problem with this where it might take a long time for non-gmail mailboxes, but we'll see how much of a pain that is. Going forward I might be able to think of a way to mitigate it a bit.

[2022-04-23 14:11] momorgan commented on #43
Yeah so here's the entry in the rollup:

![Screenshot 2022-04-23 at 15 08 35](https://user-images.githubusercontent.com/223823/164909508-17c2e7e0-b7e5-4d9a-886b-70d24053f9af.jpg)

And here's the one I have sitting in _lma-shield/screened:

![Screenshot 2022-04-23 at 15 09 02](https://user-images.githubusercontent.com/223823/164909528-8959a087-6574-4933-9081-8b3a2258054f.jpg)

[2022-04-23 14:12] momorgan commented on #44
Cool. Does that address the above example, though? I picked an example from a Gmail account like you asked

[2022-04-23 14:14] momorgan commented on #42
Not content with reading all my emails, now you're watching all my televisions

:D

[2022-04-23 14:24] Jivings commented on #43
It looks like that's the sender you added most recently. Did you add it to your Rollup from the Screened Mail view?

I think we're probably not moving them out of the screened folder in that case, but subsequent ones will get Rolled up fine and it shouldn't get blocked by the screener.

[2022-04-23 14:25] Jivings commented on #44
Can you try now and see if it still fails?

[2022-04-23 14:34] momorgan commented on #44
Hm, so I tried the above again. Top one works, bottom one shows a new error:

![Screenshot 2022-04-23 at 15 32 21](https://user-images.githubusercontent.com/223823/164910443-7e320738-97ba-4c55-90dc-15a183901727.jpg)

[2022-04-23 14:36] momorgan commented on #43
Well that's a good question. I noticed that too. I don't think I did, but it's always possible. I feel like it was set to roll up before, but then if it turned up in screened and i'd clicked rollup again, would it then seem like the most recent? Or something?

But as you say, it could be me. Who knows.

[2022-04-23 14:47] Jivings commented on #44
Can't see any evidence of this problem now 😅 can you try again with some others in case the browser is caching the response for that one or something?

[2022-04-23 14:50] Jivings commented on #43
We're not putting a timestamp on each sender added (maybe we should lol), but that's definitely the most recent one added because it's at the end of the list :)

[2022-04-23 14:57] Jivings commented on #44
Crap, I just found another issue with it that could cause this but I've shipped a quick fix. Please retry 😅

Thanks for your patience 🙏

[2022-04-23 15:04] momorgan commented on #44
Well look at that, I think you've done it ;)

![Screenshot 2022-04-23 at 16 01 29](https://user-images.githubusercontent.com/223823/164911676-1db89a2f-23c4-4349-87d8-cfb660205093.jpg)

The example above now works too -- the second preview loads _very_ slowly but it does load.

[2022-04-24 05:43] Jivings commented on #44
Phew 😅

Thanks for sticking with it! I appreciate it :)

[2022-04-24 14:15] Jivings commented on #43
I think the best improvement we can offer for this @dinkydani is that when we unsubscribe from a newsletter using the "block" button we should add to the users' unsubscribed list (I think this part we do), but the Subscription view should always show the whole content of the unsubscribed list, even if that email isn't returned by the scan.

[2022-04-25 07:29] momorgan commented on #44
Ah sorry, I don't think we're quite out of the woods on this one yet.

So I have an email in the screened list, and correctly sitting in '_lma-shield/screened'. When I click to preview, one of two things happens. Either I quickly get "Something went wrong fetching your mail preview" or I get "Loading mail preview, please wait..." and it sits like that for ages. Longer than I've managed to wait, an

[2022-04-25 08:24] momorgan opened #47 "Multi-factor authentication"
MFA. That's it. That's the issue.

[2022-04-25 11:04] Jivings commented on #47
Does it not work? You should be able to set up from the Security page here: https://leavemealone.app/app/profile/security

[2022-04-25 11:07] Jivings commented on #44
For every item? If there's a specific email provider it doesn't work for then can you let me know what it is?

[2022-04-25 11:10] momorgan commented on #47
Aaah okay I didn't look hard enough then. Sorry.

See now you've said that I don't know why I couldn't find it!

[2022-04-25 11:10] #47 closed, assigned to nobody

[2022-04-25 11:13] momorgan commented on #44
This is on runbox & zoho. Seems fine on gmail. I've tried about 20 items in all.

[2022-04-25 11:17] Jivings commented on #47
No worries!

[2022-04-25 11:20] momorgan commented on #47
I shall try and redeem my covid-ridden poorsightedness with two bits of low-priority feedback:

1. Icon picked up by Authy didn't match LMA logo - it has a keep-calmageddon thing going on. Might spook a user.

2. Perhaps at some point in the middle distance the settings could be searchable?

[2022-04-25 11:27] Jivings commented on #47
Authy seems to suck at icons. I don't know if there's any way for me to change it is there?

[2022-04-25 12:08] momorgan commented on #47
So I had a rummage around. My guess is they take some search terms (app name, initially?) and do a image API search (or scrape). The real pisser with Authy's logo search is it returns exactly one image for a search term.

Found this tweet from Authy that says "Our logo search feature relies on (and is restricted by) Google’s image search. We have had luck in toying w/  search terms in the tool, so

[2022-04-25 16:25] Jivings commented on #47
I don't think this is worth putting time into honestly 😅 They should use a proper image API [like we do](https://icons.leavemealone.app/authy.com)

[2022-04-25 16:57] momorgan commented on #47
sell it to 'em ;)

[2022-04-27 08:05] momorgan commented on #44
Small update: I think it's more intermittent than I made out, as I have found emails on the same servers/folders that preview fine.

I wonder if it might help for the error to return an item-specific ID so I could point you to the ones that work and the ones that fail?

[2022-04-27 13:09] Necmttn opened #48 "Gmail app/browser extension"
I frequently find myself searching through `all emails` to find the email which likely mislabeled or automatically screened. It would be handy to have Gmail App to quickly change the label for the email or rollup.
🙌

[2022-04-28 06:29] Jivings commented on #45
This should be consistent now I think with "Account Disconnected" then "Account reconnected".

If you are getting a lot of them we should show the "reason" why they are disconnecting if you expand the entries. If you have any problem with mail not being actioned then this can point to why!

[2022-04-28 08:27] momorgan commented on #45
Okay thanks! I can see this is consistent now, although the reason is blank in all but two cases... I assume that's going to change from around now?

The history page is really helpful but I think in some cases I'm struggling to interpret the history records to understand why a particular email was handled the way it was. So I have this example:

![Screenshot 2022-04-28 at 09 12 45](https://user-i

[2022-04-28 09:38] Jivings commented on #45
Yep, I can explain this case I think, in chronological order:

1. You received the email, it was blocked by the screener <- this is what is shown in the history view
2. You marked it as "keep" in the subscriptions list, this adds it to your "keep list"
3. You haven't received any more emails from this sender yet
4. If you receive another one from this sender then it will show in the history view a

[2022-04-28 09:44] Jivings commented on #44
I've just shipped a big change for this so hopefully it's working much better now. I think the problem was within our queuing system which is why is didn't make any sense to me initially.

Try now! :)

[2022-04-28 10:41] momorgan commented on #44
I think I'd have to say my try-outs are bit inconclusive... I've not yet found an item that throws an error: everything I've tried shows "Loading mail preview, please wait...".

I think the problem now is the time: some seem return within seconds, but most do not. I thought perhaps it still wasn't working but maybe it is, just very slowly. For a sense of scale, I timed one: it took 1min 34sec. Fro

[2022-04-29 06:49] Jivings commented on #44
Due to how IMAP works we have to search one mailbox folder at a time, and opening the next folder to search takes a second or two.

There's no universal way to say "this folder is more important than another", so we have an algorithm that tries to order them in a sensible way to make the searching faster (eg we always search INBOX first if it exists). Sometimes the item we're searching for is foun

[2022-04-29 10:42] momorgan commented on #44
Yes, I'd agree with all of that. I could suggest a couple more from a users' perspective:

1. I've been testing preview buttons to death, but this isn't representative of typical user behaviour. Realistically, where they're most useful is when emails first arrive: as part of the keep/block/unsubscribe decision process. If I wanted to see an email LMA had handled more than a week ago, it'd be much

[2022-04-29 10:45] momorgan commented on #45
Gotcha -- so the screener effectively stands in front of the unsubscriber, then. Perhaps that's what threw me.

I wonder if it's because of how they're stacked in the UI menu that in my head it was the other way around...

[2022-04-29 16:00] Jivings opened #49 "Custom time for Rollups"
Customers asking to set custom times for their Rollups. This requires only a small frontend change I think, is that right @dinkydani? We just add a timepicker dropdown and that's it I think, the Rollups should just work.

How should we change the UI? We could add a custom option for the time select radio button, which would make it similar to the DND schedule UI?

<img width="935" alt="image" src=

[2022-05-01 10:48] momorgan opened #50 "Specify which folder screener monitors"
Hello, I know we've discussed this a little by email but I should write it up properly here.

Rather than just looking at the inbox, it'd be desirable to be able to specify which folder(s) the screener monitors. I can think of two use cases:

1. When an email arrives, many clients (particularly but not exclusively mobile, it seems) can send a notification to the user before the screener manages to

[2022-05-01 12:26] Jivings commented on #50
Thanks for writing this out!

The problem is there's a delay of ~2 seconds before we receive the event that says there's a new mail, and often this means the mail client has time to notice it and ping a notification.

1. My best solution for this is to let the user specify the folder to watch, eg the `_lma-inbox` folder. A Gmail user could then set up a catch all filter that moves all incoming mai

[2022-05-01 12:30] Jivings commented on #50
We actually shouldn't need to change much to make this work:

- [ ] Update the watcher so that we can specify which folder is watched (for non-Gmail, in case it doesn't work)
- [x] If items fall into the Screener's "allow list" then move them back into the Inbox.

[2022-05-01 12:33] Jivings commented on #44
Okay here's what we'll do:

- [ ] return original mailbox information with subscription mail when it's scanned
- [ ] provide mailbox hints to the scanner so we can specify which folders to search first
- [ ] create deep links for the preview so it can be opened in a new tab

[2022-05-01 12:45] Jivings opened #51 "Scanner updates"
- Make mail scanner work with the Gmail API

[2022-05-01 12:46] Jivings opened #52 "Make email watcher work with the Gmail API"

[2022-05-03 08:37] Jivings commented on #40
@momorgan, I just shipped this so you should be able to add Filters to priority senders now :)

<img width="666" alt="image" src="https://user-images.githubusercontent.com/1462828/166425239-70ff553f-e7a5-45bf-bd7f-8c4f65f43c32.png">

Let me know if you have any issues with it!

[2022-05-03 08:37] #40 closed, assigned to Jivings

[2022-05-03 08:51] Jivings commented on #40
You should see the filter details in the History view too so you can debug it if it doesn't look to be working correctly

<img width="875" alt="image" src="https://user-images.githubusercontent.com/1462828/166426967-c10579be-6695-4a61-8474-6be5356004d6.png">

[2022-05-03 11:54] momorgan commented on #41
Hi, yes I have found a specific example of this now. I've got an email where someone is replying to one I've sent, and yet it's sitting in screened mail.

[2022-05-03 11:59] momorgan commented on #40
Ooh look at that, this is excellent! I've set up some (boring) search terms for MFA codes and whatnot, so hopefully it won't be long before I see it in action.

Thanks @Jivings - I think this is going to be pretty impactful.

[2022-05-04 12:06] Jivings commented on #40
Fantastic. I think next step we'll add some "tips" or examples at the top of the priority senders page that will suggest filters you can add for that sort of thing.

[2022-05-04 13:20] Jivings commented on #41
Can you find it in your history view? Can you send me the ID that's in there please and I can check it out.

[2022-05-04 13:27] momorgan commented on #41
Yeah why didn't i think of that? Sorry.

67a98d11-8e20-4d65-8fb8-645ef6e63886

[2022-05-04 13:40] Jivings commented on #41
Yep can see it was blocked, the screener thought it wasn't a reply. All we do is check if the email has an "in-reply-to" header:

<img width="492" alt="image" src="https://user-images.githubusercontent.com/1462828/166693175-f0fd2133-101b-413a-9763-cd3025e7a3d4.png">

Do you know how to check the email headers? I would guess that this does not have the right header! It should get added by the sende

[2022-05-04 16:50] momorgan commented on #41
Yes, it does. Their client looks kinda Outlookish to me.

![Screenshot 2022-05-04 at 17 46 14](https://user-images.githubusercontent.com/223823/166734010-7fd48217-567b-407f-b723-d7e4093b02ff.jpg)

[2022-05-04 17:14] Jivings commented on #41
Sorry we weren't passing the option `alwaysAllowReplies` between the functions properly 🤦‍♂️

It should be fixed now!

[2022-05-04 17:14] #41 closed, assigned to nobody

[2022-05-05 18:01] momorgan commented on #43
Just to build on this - now that I understand that the screener comes before the unsubscriber, I think I can better describe the behaviour/expectation here from a user perspective.

So I've had a couple of emails that have come in both to screened mail and subscriptions. Because subscriptions is listed first, I've gone in there and clicked to unsubscribe. Then I look in screened mail, and there th

[2022-05-06 07:48] Jivings commented on #43
If you unsubscribe from an email in the subscriptions view then we should be adding them to the screener "blocked" list as if you had clicked block on them and removing them from the screener view, so this is a bug on our side! We'll get it fixed :)

[2022-05-06 08:48] momorgan commented on #43
Okay great, as long as I'm catching 'real' bugs as opposed to being stupid then it's all good.

To be honest, I think once this and the challenge around beating notifications is cleared down, then from the user's perspective the current featureset 'does what it says on the tin' as it were.

Of course, there are still all sorts of interesting ways that featureset can be expanded!

[2022-05-08 10:01] momorgan commented on #50
Not in my experience. Outside of gmail, I can set up server-side mail-routing rules that push inbound emails straight to a folder other than the inbox.

I wanted to add one more justification for this improvement, which is that is it stands, LMA can cause double notifications, which is counterproductive. If a mail is marked as allowed in LMA, I'm getting a notification as it comes in (before LMA p

[2022-05-10 06:19] Jivings commented on #50
I do agree that double notifications are very bad but I'm not sure what you mean by the last part. If it's not blocked by the screener then we should not touch it at all, we wont ever take it out of the inbox and then put it back again. Do you only get notified of things hitting the inbox?

[2022-05-10 06:48] momorgan commented on #50
I think a lot of clients will let you monitor multiple folders, but yes, I get notifications only for the inbox.

So I have had instances where:
1. I get a notification and preview, because the mail went to inbox
2. I go to the inbox and it's not there because the screener has picked it up and moved it
3. *something* then happens and the emails is moved back to inbox
4. I get another notification

[2022-05-11 06:19] Jivings commented on #50
I agree, that sounds bad. The only way we ever specifically move emails to the INBOX is the first time you click "keep" on them in the Screened emails list.

[2022-05-12 12:07] #23 closed, assigned to dinkydani

[2022-05-12 14:48] Jivings commented on #50
I'm now beta testing this. I think it's mostly working, except for some reason Gmail is not letting us move emails back out from the _lma-inbox folder to the Inbox 🤷‍♂️

[2022-05-12 14:49] Jivings commented on #5
This is now in beta ✨

[2022-05-12 14:51] #24 closed, assigned to nobody

[2022-05-12 15:33] momorgan commented on #50
Okay great, that's encouraging. Does anyone even use Gmail anymore?

;)

Lemme know if you need me to test something.

[2022-05-18 05:29] Jivings opened #53 "Allow user to order senders in Rollups and improve automatic ordering"
Three parts to this;

1. We should order the senders better, right now if you receive two different subscriptions from linkedin.com they probably wont appear next to each other. It would be good if we could **order the list of emails in the Rollup by domain**.
2. We should let the user manually order the things in their Rollup. This is especially useful for the featured view.
3. We _could_ offer a

[2022-05-19 21:09] jondkinney commented on #53
Thanks for writing this up @Jivings. The main benefit to me would be #3. That way I could click "Read All" to see all the nonsense that LinkedIn sent me in 4 separate emails from 4 separate LinkedIn email addresses by just scrolling through them all at once!

![image](https://user-images.githubusercontent.com/4521/169405186-20df45a6-1fe7-4acc-b170-9d091d88df33.png)

[2022-05-21 05:07] Jivings commented on #49
This is now done!

[2022-05-21 05:07] #49 closed, assigned to dinkydani

[2022-05-25 13:56] Jivings opened #54 ""Allow replies" option lets through some mailing list emails"
Sometimes mailing lists use the "reply" functionality to send mass emails. The `to` header will be the name of the mailing list, and all recipients will be sent via `bcc`.

This means that our "allow replies" functionality see's these emails as replies (the `in-reply-to` header is set), and allows them through the screener.

Solution:
- We should check to see if the `in-reply-to` header matches on

[2022-05-27 08:22] Jivings opened #55 "Paginate older Rollup issues in the UI"
We're storing three months, no reason why we shouldn't allow the customer to see them

[2022-05-27 09:53] momorgan commented on #43
Hello,

I find there are moderately frequent instances (let's say 3 in the last week or so) where a newslettery-type email will be caught/blocked by the screener, but it can be some time (~16 hours?) before they show up in subscriptions—long enough for me then to get a reminder by email. All the ones I've found have List-Unsubscribe headers.

So, if an email in the screener list has the List-Unsub

[2022-05-27 10:20] Jivings commented on #43
If you hit "block forever" in the Screener then it will also unsubscribe you and should mark it as unsubscribed in the subscriptions list.

[2022-06-03 12:56] #5 closed

[2022-06-03 14:11] #55 closed, assigned to dinkydani

[2022-06-09 08:29] Jivings opened #56 "iPadOS 16 CSS bugs"
Sticky footer not working properly.

![image](https://user-images.githubusercontent.com/1462828/172801864-3db34ae3-0dd4-4f40-bc23-fb3b85998dae.png)

[2022-06-12 17:32] Jivings commented on #54
I worked on this today and here's what we're going to do:

We'll assume that something is a reply-to if both of the following are true:
1. The "to" header is one of the users' email addresses or aliases
2. The "in-reply-to" header is set to anything

It has to be anything because the "in-reply-to" header is usually the ID of the previous message in the email thread/conversaton (which we don't know

[2022-06-17 13:06] Jivings commented on #44
This improvement is being rolled into the new scanner changes for the Gmail API 👍

https://github.com/leavemealone-app/roadmap/issues/51

[2022-06-17 13:09] Jivings opened #57 "Allow customer to set which accounts to enable shield on"

[2022-06-17 14:25] Jivings commented on #54
This is now live!

[2022-06-25 12:00] #54 closed, assigned to nobody

[2022-06-25 12:01] Jivings commented on #51
And more improvements:

**Preview**
- return original mailbox information with subscription mail when it's scanned
- provide mailbox hints to the scanner so we can specify which folders to search first

**Subscription scan**
- Allow optional scanning of trash and spam folders

[2022-06-28 05:54] #57 closed, assigned to dinkydani

[2022-06-29 06:25] Jivings opened #58 "Snooze button"
Add snooze capability to senders in the screener.

When we screen an email, the customer should be able to choose to snooze it from the screener view. Either until the next time it's seen, or for a specific time period (eg 1 week, 1 month, 1 year). While snoozed the email will still be screened, but wont show in the "new" column until after the snooze has finished.

[2022-06-29 16:23] sharad-teracube commented on #58
Would love this feature. This way I won't loose those senders forever but can still mute them for some time.

[2022-07-06 11:19] Jivings commented on #50
Sorry for the delay! If you're still interested in testing this @momorgan then we have a version live that we're using in beta. Let me know!

[2022-07-06 11:50] momorgan commented on #50
Yes, absolutely :)

[2022-07-06 17:08] Jivings commented on #50
Can you send a message in support chat on the website and I can update your account 👍

[2022-07-30 11:55] Jivings commented on #58
@sharad-teracube this is now live! ✨

[2022-07-30 11:55] #58 closed, assigned to dinkydani

[2022-08-01 16:17] sharad-teracube commented on #58
Love the quick addition. Will use it and let you know any feedback.

[2022-08-01 16:20] sharad-teracube opened #59 "Web UI slow / CPU intensive"
I use a relatively beefy i5 pc and all other websites work quick/snappy. However, leavemealone.app is slow to respond to clicks and feels very sluggish most times. CPU usage also goes up (for the initial 5-10 seconds it seems). Is this a known issue?

[2022-08-16 16:22] sharad-teracube commented on #59
Issue happening on Chrome. Edge works fine - switched to Edge just for leavemealone :).

[2022-08-24 07:59] Jivings commented on #46
Hey @momorgan, this is now ready and you can add a total of 3 schedules! Sorry for the delay!

[2022-08-24 07:59] #46 closed, assigned to nobody

[2022-08-24 08:00] Jivings commented on #59
Hey @sharad-teracube, I've no idea why this would be happening. Was it during a scan for mail or just constantly?

Haven't had any other reports of this, so maybe it was just one release that we had. Can you try it again?

[2022-08-29 02:32] sharad-teracube commented on #59
Hi James,

Somehow my chrome continues to be slow for the first 4-5 seconds of loading
leavemealone. Edge on the other hand is smooth right after load. Could be
something specifically on my computer. Not sure what though. Feel free to
close this issue.

--
Sharad Mittal
Founder and CEO
*Teracube - Environmentally Conscious Electronics*
Learn more at myteracube.com

On Wed, Aug 24, 2022 at 1:00 AM

[2022-08-29 05:03] Jivings commented on #59
Thanks for the update! I'll leave this open for now in case anyone else reports!

[2022-09-17 06:26] Jivings opened #60 "After customer manually resolved an unsubscribe, we're still showing it as failed"
Loom video here: https://www.loom.com/share/3faf7a3ad7b1400195bf100ed78ee8d3

[2022-10-01 14:00] Jivings opened #61 "Temporary emails"

[2022-10-05 18:20] sharad-teracube opened #62 "How to clear old "Screened email""
There is such an option under Subscriptions. But the same is missing from Screened email.

[2022-10-05 18:23] sharad-teracube opened #63 "Merge or Import Rollup contacts?"
I would like to merge my 3 rollups below. Is there a way for me to Merge all 3 rollups into one (combining all senders). Or a way for me to export, edit and Import back? I see export but no import.

![image](https://user-images.githubusercontent.com/70285625/194133816-db40622d-6863-44d6-bcd4-f19099afbe4c.png)

[2022-10-07 06:39] Jivings commented on #62
I'm not sure which option you mean @sharad-teracube. Can you screenshot?

[2022-10-07 06:42] Jivings commented on #63
There's no merge right now. However you can select the senders that you wish to "move" to a different Rollup from the senders screen. You just check the box and click the "move" button at the top right:

<img width="1116" alt="image" src="https://user-images.githubusercontent.com/1462828/194484201-de999bc2-0984-4747-891c-b20a9deb92de.png">

There's no way to select all the senders to move, so we'l

[2022-10-07 08:03] Jivings commented on #63
There's now a "select all" button so that you can move all the senders to another Rollup ✅

[2022-10-07 08:03] #63 closed, assigned to dinkydani

[2022-10-07 19:09] sharad-teracube commented on #62
![image](https://user-images.githubusercontent.com/70285625/194636136-5a5873fc-ebc9-44ae-9436-eb7365c7b8c5.png)

With the help of your new snooze buttons in screened - I'm able to clear out all my new screened emails. But I have a big old baggage of emails that were never snoozed. I will like to clear all the old ones so that my screened email list can be empty when I snooze or block my daily new

[2022-10-07 19:10] sharad-teracube commented on #63
Super - will try it out soon. Thanks a ton 🥇

[2022-10-18 10:05] Jivings opened #64 "Yahoo XOAuth2"
Yahoo seem to be phasing out their app-password functionality, existing app passwords are still working, but new ones can't be created.

We need to test and switch over to XOAuth2. Use the existing Outlook code as a base.

[2022-10-18 10:10] Jivings commented on #62
So you essentially want to delete all the ones that have status = "new" ?

[2022-10-18 18:54] sharad-teracube commented on #62
Yes. However, I finally cleared all of them manually myself. So don't need it for me. But maybe good for other folks.

[2022-10-19 08:04] Jivings commented on #62
Okay great!

[2022-10-19 08:04] #62 closed, assigned to nobody